{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabulary package</title>
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .logo {
            font-family: "Montserrat",  sans-serif;
            font-size: 24px;
        }
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
            .h-custom {
            height: calc(100% - 73px);
        }
            @media (max-width: 450px) {
            .h-custom {
            height: 100%;
            }
        }
        body {
          background: rgb(44, 46, 49);
        }
        .contact {
          background: black;
          color: white;
          border: 2px solid rgb(44, 46, 49);
        }
        .page-name {
          font-family: Garamond, serif;
          color: white;
          font-size: xx-large;
          text-align: center;
          margin-top: 10px;
        }
        select {
          flex: 1;
        }
        .a-contact {
          margin: 0;
        }
        .time-passed {
        color: lightgray;
        font-size: smaller;
        position: absolute;
        right: 45px;
      }
      .accordion-item {
        margin-bottom: 2px;
      }
      .accordion-collapse {
        color: lightgray;
      }

      .fullscreen-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw!important;
        height: 100vh;
        object-fit: contain;
        z-index: 9999;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
      }
    </style>
</head>
<body>
  {% include 'teachers/navbar.html' %}

  <section>
    <div class="container pt-1">
      <h1 class="text-body-emphasis text-light text-center" id="page_name">Package</h1>
      
      <div class="row">
        <div class="col-lg-4 mb-2">
          <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 100%;border-radius: 5px 5px 0 0!important;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16" style="vertical-align: middle;margin-right: 5px">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
            </svg>
            Details
          </a>
          <div class="collapse" id="collapseExample">
            <form id="form_register" method="post" onsubmit="return false">
              <ul class="list-group rounded-top" style="border-radius: 0 0 5px 5px!important">
                
                <li class="list-group-item justify-content-between align-items-start contact" data-bs-theme="dark">
                  <div class="row g-2">
                    <div class="col-md">
                      <div class="form-floating bg-dark">
                        <input  type="text" class="form-control text-light" id="package_title" name="title" placeholder="0"  style="background: black;">
                        <label for="days-input">Name</label>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item justify-content-between align-items-start contact">
                  <p class="text-secondary">By <span class="text-light" id="package_author"></span> at <small id="package_date_created"></small></p>
                </li>
                <li class="list-group-item justify-content-between align-items-start contact">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-sm btn-primary w-100" type="button" onclick="location.href = `print/`">Print package</button>
                  </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                    <button class="btn btn-sm btn-danger w-100" type="button" onclick="show_access_modal()">Delete package</button>
                  </div>
                </li>
              </ul>
            </form>
            <br>
          </div>
        </div>
        <div class="col-lg-8">
          <!-- 1 -->
          <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2" style="width: 100%;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16" style="vertical-align: middle;margin-right: 5px">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
            Add vocabulary
          </a>
          <div class="collapse" id="collapseExample2">
            <form id="form_add_vocabulary" method="post" onsubmit="return false" enctype="multipart/form-data">
              <ul class="list-group">
                
                <li class="list-group-item justify-content-between align-items-start contact" data-bs-theme="dark">
                  <div class="row g-2 mb-1">
                    <div class="col-md">
                      <div class="form-floating bg-dark">
                        <input type="text" class="form-control text-light" id="text" name="text" placeholder="0"  style="background: black;">
                        <label for="days-input">In English</label>
                      </div>
                    </div>
                  </div>
                  <div class="row g-2 mb-2">
                      <div class="col-md">
                        <div class="form-check form-switch">
                          <input id="auto_generate_check" name="auto_generate" class="lock form-check-input" type="checkbox" role="switch" onchange="auto_generate_switch(this)" style="width: 45px !important;height: 25px !important;" checked>
                          <label for="auto_generate_check" style="vertical-align: middle;" class="ms-2 d-inline">Auto generate translation, category and description</label>
                        </div>
                      </div>
                    </div>

                  <div id="auto_generated_area" class="d-none">
                    
                    <div class="row g-2 mb-1">
                      <div class="col-md">
                        <div class="form-floating bg-dark">
                          <input  type="text" class="form-control text-light" id="translation" name="translation" placeholder="0"  style="background: black;">
                          <label for="days-input">In Uzbek</label>
                        </div>
                      </div>
                    </div>
                    <div class="row g-2 mb-1">
                      <div class="col-md">
                        <label for="" class="form-label">Choose category</label>
                        <br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="category" value="noun" id="radio2" style="transform: scale(1.3);">
                          <label class="form-check-label" for="radio2">Noun</label>
                        </div>

                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="category" value="verb" id="radio3" style="transform: scale(1.3);">
                          <label class="form-check-label" for="radio3">Verb</label>
                        </div>

                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="category" value="adjective" id="radio4" style="transform: scale(1.3);">
                          <label class="form-check-label" for="radio4">Adjective</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="category" value="other" id="radio1" style="transform: scale(1.3);">
                          <label class="form-check-label" for="radio1">Other</label>
                        </div>
                      </div>
                      
                    </div>
                    <div class="row g-2 mb-1">
                      <div class="col-md">
                        <div class="form-floating bg-dark">
                          <textarea  type="text" rows="2" class="form-control text-light" id="description" name="description" placeholder="0"  style="background: black;height: 100%;"></textarea>
                          <label for="days-input">Description</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row g-2 mb-1">
                    <div class="mb-1">
                      <label for="formFile" class="form-label">Choose image</label>
                      <input class="form-control bg-dark text-light" type="file" accept="image/*" name="image" id="image">
                    </div>
                  </div>
                </li>
                <li class="list-group-item justify-content-between align-items-start contact">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button id="add_button" class="btn btn-light" type="save" style="width: 160px;margin: auto;">Save</button>
                  </div>
                </li>
              </ul>
            </form>
            <br>
          </div>

            <div id="main"class="accordion accordion-flush mt-1">
                <!-- Don't touch -->

                

            </div>



        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="access_modal" data-bs-backdrop="static" data-bs-theme="dark" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content bg-dark text-white">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete package</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ps-1 pe-1">
            
            <p class="text-warning text-center m-3 fs-4">
              Are you sure you want to delete this package and all the vocabularies of this package?
            </p>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="delete_package()">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
          </div>
      </div>
    </div>

    <!-- Vocabulary errors -->
    <div class="modal fade" id="error_modal" data-bs-backdrop="static" data-bs-theme="dark" data-bs-keyboard="false" tabindex="-1" aria-labelledby="error_modal_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content bg-dark text-white">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="error_modal_label">Existing vocabulary</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ps-1 pe-1">
            
            <div id="error_main"class="accordion accordion-flush mt-1">
              <!-- Don't touch -->
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
          </div>
      </div>
    </div>

    <!-- Delete vocabulary -->
    <div class="modal fade" id="delete_vocabulary_modal" data-bs-backdrop="static" data-bs-theme="dark" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete_vocabulary_modal_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content bg-dark text-white">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="delete_vocabulary_modal">Delete vocabulary</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ps-1 pe-1">
            <p class="text-warning text-center mt-1 fs-5">
              Are you sure you want to delete this vocabulary?
            </p>
            <div id="delete_vocabulary_main" class="accordion accordion-flush mt-1">
              <!-- Don't touch -->
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="delete_vocabulary()">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
          </div>
      </div>
    </div>

    <!-- Edit vocabulary -->
    <div class="modal fade" id="edit_vocabulary_modal" data-bs-backdrop="static" data-bs-theme="dark" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit_vocabulary_modal_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content bg-dark text-white">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="edit_vocabulary_modal_label">Edit vocabulary</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ps-1 pe-1">
            <div id="edit_vocabulary_main" class="accordion accordion-flush mt-1">
              <!-- Don't touch -->
            </div>

          </div>
          <div class="modal-footer">
            <button id="save_button" type="button" class="btn btn-light" onclick="edit_vocabulary()">Save</button>
            <button id="close_button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
          </div>
      </div>
    </div>

    <!-- Vocabulary suggestions -->
    <div class="modal fade" id="vocabulary_suggestion_modal" data-bs-backdrop="static" data-bs-theme="dark" data-bs-keyboard="false" tabindex="-1" aria-labelledby="vocabulary_suggestion_modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content bg-dark text-white">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="vocabulary_suggestion_modal_label">Recommendations</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ps-2 pt-0 pe-2">
            <p class="text-warning text-center mt-1 fs-6">
              These words should be removed or replaced with suggestions below.
            </p>
            <div id="vocabulary_suggestion_main" class="accordion accordion-flush mt-1 p-2">
              <!-- Don't touch -->
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
          </div>
      </div>
    </div>

    <!-- Spinner -->
    <div id="spinner" class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50" style="display: none!important;">
    <div class="spinner-grow text-light" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    </div>
    
    <!-- Button trigger modal -->
    <button id="modal-trigger" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none;">
    Launch demo modal
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog ">
        <div class="modal-content">
        <div class="modal-header" style="border: 0;">
            <h6 class="modal-title" id="modal-text" style="color: orange;">Please, enter your number correctly.</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        </div>
    </div>
    </div>

    <a href="" id="view_results" style="display: none;">
        <button class="btn btn-success btn-lg w-100" style="position: fixed;top: 0;">View results</button>
    </a>
  </section>


  <script src="{% static 'bootstrap/popper.min.js' %}" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="{% static 'bootstrap/bootstrap.min.js' %}" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <script>
    let page_state = 0

    let main = document.getElementById('main')

    let page_name = document.getElementById('page_name')
    let package_title = document.getElementById('package_title')
    let package_author = document.getElementById('package_author')
    let package_date_created = document.getElementById('package_date_created')
    let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('access_modal'))
    let exam_details = document.getElementById('exam_details')
    let view_results_btn = document.getElementById('view_results')
    let form_register = document.getElementById("form_register")

    let form_add_vocabulary = document.getElementById("form_add_vocabulary")
    let text = document.getElementById("text")
    let translation = document.getElementById("translation")
    let description = document.getElementById("description")
    let image = document.getElementById("image")
    let category = document.getElementsByName("category")
    let add_button = document.getElementById("add_button")
    let auto_generate_check = document.getElementById("auto_generate_check")
    let auto_generated_area = document.getElementById("auto_generated_area")

    let error_modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('error_modal'))
    let delete_vocabulary_modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('delete_vocabulary_modal'))
    let edit_vocabulary_modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('edit_vocabulary_modal'))
    let vocabulary_suggestion_modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('vocabulary_suggestion_modal'))


    let exam = {}
    let vocabularies = {}
    let focus_vocabulary = null
    const package_id = location.pathname.split('/')[3]

    function clean_text(text) {
      return String(text)
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }

    function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
        // Generate a random index from 0 to i
        const j = Math.floor(Math.random() * (i + 1));
        
        // Swap elements at indices i and j
        [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
    }

    function formatDate(date) {
      date = new Date(date)
      const hours = (date.getHours() % 12 || 12).toString().padStart(2, '0'); // Convert to 12-hour format
      const minutes = date.getMinutes().toString().padStart(2, '0'); // Ensure two-digit minutes
      const ampm = date.getHours() >= 12 ? 'PM' : 'AM';
      const month = date.toLocaleString('en-US', { month: 'long' });
      const day = date.getDate();
      const year = date.getFullYear();

      return `${hours}:${minutes} ${ampm}, ${month} ${day}, ${year}`;
    }

    function spinner(display){
    let spinner_element = document.getElementById('spinner')
    switch (display){
    case true:
        spinner_element.setAttribute('style', 'display: block')
        break
    case false:
        spinner_element.setAttribute('style', 'display: none!important')
        break
    }
    }

    function notification(message, color){
    let modal_trigger = document.getElementById('modal-trigger')
    let modal_text = document.getElementById('modal-text')

    modal_text.style.color = color
    modal_text.innerText = message
    modal_trigger.click()
    }


    async function load_package(){
        spinner(true)

        let request = await fetch(`/api/dictionary/packages/${package_id}/`)
        let response = await request.json()
        exam = response

        page_name.innerText = clean_text(response.title)
        package_author.innerText = response.author ? clean_text(response.author) : "platform"
        package_date_created.innerText = formatDate(response.date_created)
        package_title.value = response.title
        document.getElementsByTagName("title")[0].innerText = clean_text(response.title)

        if (page_state > 0){
          spinner(false)
        }
        page_state ++
    }
    load_package()

    async function load_vocabularies(){
        spinner(true)

        let request = await fetch(`/api/dictionary/packages/${package_id}/vocabularies/`)
        let response = await request.json()

        vocabularies = response
        main.innerHTML = ''

        for (let i = 0; i < response.length; i++){

            vocabulary = response[i]

            let image = ""
            if (vocabulary.image){
              image = `
              <hr>
              <div class="row">
                  <p class="text-muted mb-1">Image</p>
                  <img class="w-25 d-block m-auto rounded" src="${vocabulary.image}">
              </div>
              `
            }

            main.innerHTML += `
            <div id="v${vocabulary.id}" class="accordion-item bg-dark text-light rounded-4 border-dark">
                <h2 class="accordion-header" id="i${i}">
                    <button class="accordion-button collapsed text-light rounded-4" style="background: black;" type="button" data-bs-toggle="collapse" data-bs-target="#body${i}" aria-expanded="false" aria-controls="body${i}">
                    <span class="me-2 badge text-bg-secondary">${i + 1}</span>
                    ${clean_text(vocabulary.text)}
                    </button>
                </h2>
                <div id="body${i}" class="accordion-collapse collapse rounded-4" aria-labelledby="i${i}" data-bs-parent="#main">
                    <div class="accordion-body pt-1">
                      <div class="card-body mt-3">
                          <div class="row">
                              <div class="col-sm-3">
                              <p class="text-muted mb-0">Uzbek</p>
                              </div>
                              <div class="col-sm-9">
                              <p class="mb-0 fw-bold text-success">${clean_text(vocabulary.translation)}</p>
                              </div>
                          </div>
                          <hr>
                          <div class="row">
                              <div class="col-sm-3">
                              <p class="text-muted mb-0">English</p>
                              </div>
                              <div class="col-sm-9">
                              <p class="text-primary mb-0 fw-bold">${clean_text(vocabulary.text)} <span class="align-text-bottom text-light">(${vocabulary.category})</span></p>
                              </div>
                          </div>
                          <hr>
                          <div class="row">
                              <div class="col-sm-3">
                              <p class="text-muted mb-0">Description</p>
                              </div>
                              <div class="col-sm-9">
                              <p class="mb-0 fw-bold">${clean_text(vocabulary.description)}</p>
                              </div>
                          </div>
                          ${image}
                          <div class="row d-none">
                              <div class="col-sm-3">
                              <p class="text-muted mb-0">Learn more</p>
                              </div>
                              <div class="col-sm-9">
                              <a href="${vocabulary.id}/" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                                </svg>
                                Learn
                              </a>
                              </div>
                          </div>
                          <hr>
                          <div class="row">
                              <div class="col-sm-3">
                              <small class="text-muted mb-0">By <span class="text-light">${vocabulary.author ? clean_text(vocabulary.author) : "platform"}</span></small>
                              </div>
                              <div class="col-sm-9">
                              <small class="text-muted mb-0">At ${formatDate(vocabulary.date_created)}</small>
                              </div>
                          </div>
                          
                          <div class="btn-group w-50 mt-2" role="group">
                            <button type="button" class="btn btn-primary btn-sm" onclick="request_vocabulary_edition(${i})">Edit</button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="request_vocabulary_deletion(${i})">Delete</button>
                          </div>
                        
                        </div>

                    </div>
                </div>
            </div>
            `
        }

        let images = document.getElementsByTagName('img')
        for (let i = 0; i < images.length; i++){
          let image = images[i]
          image.addEventListener('click', () => {
            if (image.classList.contains('w-25')){
                image.classList.remove('w-25')
                image.classList.add('fullscreen-image')
            }else{
                image.classList.add('w-25')
                image.classList.remove('fullscreen-image')
            }
          })
        }

        if (page_state > 0){
          spinner(false)
        }
        page_state ++
    }
    load_vocabularies()

    package_title.addEventListener('change', async function(){
        if (package_title.value.length < 3){
          notification('Package name must be at least 3 characters long. (Max 100 chars)', "orange")
          package_title.focus()
        } else {
          spinner(true)

          let request = await fetch(
            `/api/dictionary/packages/${package_id}/`,
            {
              method: 'POST',
              body: new FormData(form_register)
            }
          )
          let response = await request.json()

          if (response.message == 'success'){
            load_package()
          } else {

            for (let i = 0; i < response.errors.length; i++){
              switch (response.errors[i]){
                case 'length':
                  notification("Package name must be at least 3 characters long. (Max 100 chars)", "orange")
                  break

                case 'permission':
                  notification("You are not authorized to change the dictionary", "orange")
                  break
              }
            }
          }
          

          spinner(false)
        }

      })

    
    function auto_generate_switch(button){
      if (button.checked){
        auto_generated_area.classList.remove('d-block')
        auto_generated_area.classList.add('d-none')
      } else {
        auto_generated_area.classList.remove('d-none')
        auto_generated_area.classList.add('d-block')
      }
    }


    add_button.addEventListener('click', async function(){
      if (text.value.length < 2){
        notification('English word must be at least 2 characters long. (Max 100 chars)', "orange")
      } else if (translation.value.length < 2 && !auto_generate_check.checked){
        notification('Uzbek translation must be at least 2 characters long. (Max 100 chars)', "orange")
      } else if (description.value.length > 300){
        notification('Description must be shorter than 300 characters.', "orange")
      } else if (!document.querySelector('input[name="category"]:checked') && !auto_generate_check.checked){
        notification('Choose category', "orange")
      } else {
        spinner(true)
        add_button.disabled = true

        let request = await fetch(
          `/api/dictionary/packages/${package_id}/vocabularies/`,
          {
            method: 'POST',
            body: new FormData(form_add_vocabulary)
          }
        )
        let response = await request.json()

        if (response.message == 'success'){
          text.value = ''
          translation.value = ''
          description.value = ''
          image.value = ''
          document.querySelectorAll('input[name="category"]').forEach(radio => {
            radio.checked = false;
          });
          load_vocabularies()
        } else {

          for (let i = 0; i < response.errors.length; i++){
            switch (response.errors[i]){
              case 'text-translation':
                notification("Package name must be at least 2 characters long. (Max 100 chars)", "orange")
                break

              case 'permission':
                notification("You are not authorized to change the dictionary", "orange")
                break
              
              case 'capacity':
                notification("Package is full. Please, add vocabularies to another package. ", "orange")
                break
              
              case 'spelling':
                show_vocabulary_suggestion_modal(response.suggestions)
                break
              
              case 'existing':
                show_error_modal(response.existing)
                break
              
              case 'image':
                notification("Choose a valid image for the vocabulary.")
                break
              
              case 'category':
                notification("Choose a valid category for the vocabulary.")
                break
            }
          }
        }
        

        add_button.disabled = false          
        spinner(false)
        text.focus()

      }

    })

    
    function show_access_modal(){
        modal.show()
    }

    function show_error_modal(vocabulary){
      document.getElementById("error_main").innerHTML = `
      <div id="v${vocabulary.id}e" class="accordion-item bg-dark text-light rounded-4 border-dark">
          <h2 class="accordion-header" id="i${vocabulary.id}e">
              <button class="accordion-button collapsed text-light rounded-4" style="background: black;" type="button" data-bs-toggle="collapse" data-bs-target="#body${vocabulary.id}e" aria-expanded="false" aria-controls="body${vocabulary.id}e">
              <span class="me-2 badge text-bg-secondary">1</span>
              ${clean_text(vocabulary.text)}
              </button>
          </h2>
          <div id="body${vocabulary.id}e" class="accordion-collapse collapse rounded-4" aria-labelledby="i${vocabulary.id}e" data-bs-parent="#main">
              <div class="accordion-body pt-1">
                <div class="card-body mt-3">
                    <div class="row">
                        <div class="col-sm-3">
                        <p class="text-muted mb-0">Uzbek</p>
                        </div>
                        <div class="col-sm-9">
                        <p class="mb-0 fw-bold text-success">${clean_text(vocabulary.translation)}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <p class="text-muted mb-0">English</p>
                        </div>
                        <div class="col-sm-9">
                        <p class="text-primary mb-0 fw-bold">${clean_text(vocabulary.text)}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <p class="text-muted mb-0">Description</p>
                        </div>
                        <div class="col-sm-9">
                        <p class="mb-0 fw-bold">${clean_text(vocabulary.description)}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <p class="text-muted mb-0">Package</p>
                        </div>
                        <div class="col-sm-9">
                        <p class="mb-0 text-info fw-bold">${clean_text(vocabulary.package)}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <small class="text-muted mb-0">By <span class="text-light">${vocabulary.author ? clean_text(vocabulary.author) : "platform"}</span></small>
                        </div>
                        <div class="col-sm-9">
                        <small class="text-muted mb-0">At ${formatDate(vocabulary.date_created)}</small>
                        </div>
                    </div>
                  
                  </div>

              </div>
          </div>
      </div>
      `
      error_modal.show()
    }

    function show_delete_vocabulary_modal(vocabulary){
      document.getElementById("delete_vocabulary_main").innerHTML = `
      <div id="v${vocabulary.id}e" class="accordion-item bg-dark text-light rounded-4 border-dark">
          <h2 class="accordion-header" id="i${vocabulary.id}e">
              <button class="accordion-button collapsed text-light rounded-4" style="background: black;" type="button" data-bs-toggle="collapse" data-bs-target="#body${vocabulary.id}e" aria-expanded="false" aria-controls="body${vocabulary.id}e">
              <span class="me-2 badge text-bg-secondary">1</span>
              ${clean_text(vocabulary.text)}
              </button>
          </h2>
          <div id="body${vocabulary.id}e" class="accordion-collapse collapse rounded-4" aria-labelledby="i${vocabulary.id}e" data-bs-parent="#main">
              <div class="accordion-body pt-1">
                <div class="card-body mt-3">
                    <div class="row">
                        <div class="col-sm-3">
                        <p class="text-muted mb-0">Uzbek</p>
                        </div>
                        <div class="col-sm-9">
                        <p class="mb-0 fw-bold text-success">${clean_text(vocabulary.translation)}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <p class="text-muted mb-0">English</p>
                        </div>
                        <div class="col-sm-9">
                        <p class="text-primary mb-0 fw-bold">${clean_text(vocabulary.text)}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <p class="text-muted mb-0">Description</p>
                        </div>
                        <div class="col-sm-9">
                        <p class="mb-0 fw-bold">${clean_text(vocabulary.description)}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                        <small class="text-muted mb-0">By <span class="text-light">${vocabulary.author ? clean_text(vocabulary.author) : "platform"}</span></small>
                        </div>
                        <div class="col-sm-9">
                        <small class="text-muted mb-0">At ${formatDate(vocabulary.date_created)}</small>
                        </div>
                    </div>
                  
                  </div>

              </div>
          </div>
      </div>
      `
      delete_vocabulary_modal.show()
    }

    function show_edit_vocabulary_modal(vocabulary){
      document.getElementById("edit_vocabulary_main").innerHTML = `
      <form id="form_edit_vocabulary" method="post" onsubmit="return false">
        <ul class="list-group">
          
          <li class="list-group-item justify-content-between align-items-start contact" style="background: inherit;border:0">
            <div class="row g-2 mb-1">
              <div class="col-md">
                <div class="form-floating bg-dark">
                  <input id="edit_text" type="text" class="form-control text-light" name="text" placeholder="0"  style="background: black;border:0" value="${vocabulary.text}">
                  <label for="days-input">In English</label>
                </div>
              </div>
            </div>
            <div class="row g-2 mb-1">
              <div class="col-md">
                <div class="form-floating bg-dark">
                  <input id="edit_translation" type="text" class="form-control text-light" name="translation" placeholder="0"  style="background: black;border:0" value="${vocabulary.translation}">
                  <label for="days-input">In Uzbek</label>
                </div>
              </div>
            </div>
            <div class="row g-2 mb-1">
              <div class="col-md">
                <div class="form-floating bg-dark">
                  <textarea id="edit_description" type="text" rows="2" class="form-control text-light" name="description" placeholder="0" style="background: black;height: 100%;border:0">${vocabulary.description}</textarea>
                  <label for="days-input">Description</label>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      `
      edit_vocabulary_modal.show()
    }

    function show_vocabulary_suggestion_modal(suggestions){
      let main = document.getElementById("vocabulary_suggestion_main")
      main.innerHTML = ''

      let id = 1
      for (let i in suggestions){

        let replacements = ''
        for (let j = 0; j < suggestions[i].length; j++){
          replacements += `
          <span class="badge text-bg-success fs-6 mb-1">${suggestions[i][j]}</span>
          `
        }
        main.innerHTML += `                 
        <p class="fw-bold mb-1 fs-5">${id}.
        <span class=" text-decoration-underline">${i}</span>
        </p>
        <div class="ps-4">${replacements}</div>
        `
        id++
      }
      vocabulary_suggestion_modal.show()
    }

    function request_vocabulary_deletion(id){
      let vocabulary = vocabularies[id]
      focus_vocabulary = vocabulary

      show_delete_vocabulary_modal(vocabulary)
    }

    function request_vocabulary_edition(id){
      let vocabulary = vocabularies[id]
      focus_vocabulary = vocabulary

      show_edit_vocabulary_modal(vocabulary)
    }

    async function delete_package(){
      modal.hide()
      spinner(true)

      let request = await fetch(`/api/dictionary/packages/${package_id}/`, {
        method: 'DELETE'
      })
      let response = await request.json()

      if (response.message == 'success'){
        location.href = '/dictionary/'
      } else {

        for (let i = 0; i < response.errors.length; i++){
          switch (response.errors[i]){
            case "permission":
              notification("You are not authorized to delete this package.", "orange")
              break
          }
        }
      }

      spinner(false)
    }

    async function delete_vocabulary(){
      delete_vocabulary_modal.hide()
      spinner(true)

      let request = await fetch(`/api/dictionary/packages/${package_id}/vocabularies/${focus_vocabulary.id}/`, {
        method: 'DELETE'
      })
      let response = await request.json()

      if (response.message == 'success'){
        load_vocabularies()
      } else {

        for (let i = 0; i < response.errors.length; i++){
          switch (response.errors[i]){
            case "permission":
              notification("You are not authorized to change the dictionary.", "orange")
              break
          }
        }
      }

      spinner(false)
    }

    async function edit_vocabulary(){
      let text = document.getElementById("edit_text")
      let translation = document.getElementById("edit_translation")
      let description = document.getElementById("edit_description")
      let save_button = document.getElementById("save_button")
      let close_button = document.getElementById("close_button")

      let form_edit_vocabulary = document.getElementById("form_edit_vocabulary")

      
      if (text.value.length < 2){
        notification('English word must be at least 2 characters long. (Max 100 chars)', "orange")
      } else if (translation.value.length < 2){
        notification('Uzbek translation must be at least 2 characters long. (Max 100 chars)', "orange")
      } else if (description.value.length > 300){
        notification('Description must be shorter than 300 characters.', "orange")
      } else {
        spinner(true)
        save_button.disabled = true
        close_button.disabled = true

        let request = await fetch(
          `/api/dictionary/packages/${package_id}/vocabularies/${focus_vocabulary.id}/`,
          {
            method: 'POST',
            body: new FormData(form_edit_vocabulary)
          }
        )
        let response = await request.json()
        edit_vocabulary_modal.hide()

        if (response.message == 'success'){
          load_vocabularies()
        } else {

          for (let i = 0; i < response.errors.length; i++){
            switch (response.errors[i]){
              case 'text-translation':
                notification("Package name must be at least 2 characters long. (Max 100 chars)", "orange")
                break

              case 'permission':
                notification("You are not authorized to change the dictionary", "orange")
                break
              
              case 'capacity':
                notification("Package is full. Please, add vocabularies to another package. ", "orange")
                break
              
              case 'spelling':
                show_vocabulary_suggestion_modal(response.suggestions)
                break

              case 'existing':
                show_error_modal(response.existing)
                break
            }
          }
        }
        

        save_button.disabled = false          
        close_button.disabled = false          
        spinner(false)
      }
    }

    async function force_redirect() {
        
        let request = await fetch('/api/exams/ongoing/')
        let response = await request.json()
        if (response.exam){
            if (response.exam.id == exam_id){
                exam_topic.innerText = `${response.exam.topic} (${response.exam.level} level)`
                form_register.remove()
                load_tests()
            } else {
                document.body.innerHTML += `
                <!-- Force redirect modal -->
                <div class="modal fade" id="redirect_modal" data-bs-backdrop="static" data-bs-theme="dark" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content bg-dark text-white">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-warning" id="staticBackdropLabel">Warning</h1>
                        </div>
                        <div class="modal-body ps-1 pe-1">
                        <h6 class="modal-title fs-5 text-center" id="staticBackdropLabel">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-alarm-fill" viewBox="0 0 16 16">
                                <path d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5m2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.04 8.04 0 0 0 .86 5.387M11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.04 8.04 0 0 0-3.527-3.527"/>
                            </svg>
                            You're already participating in an exam. Please, finish your ongoing exam before starting another one.
                        </h6>
                        
                        </div>
                        <div class="modal-footer">
                            <a href="/exams/${response.exam.id}/">                            
                                <button class="btn btn-primary">Continue exam <b>(${response.exam.title})</b></button>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
                `
                let modal_element = document.getElementById('redirect_modal')
                let modal = bootstrap.Modal.getOrCreateInstance(modal_element)

                modal.show()

                setInterval(function(){
                    modal.show()
                }, 5000)
                
            }
        }
    }

  </script>
</body>
</html>