{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabulary package</title>
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .logo {
            font-family: "Montserrat",  sans-serif;
            font-size: 24px;
        }
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
            .h-custom {
            height: calc(100% - 73px);
        }
            @media (max-width: 450px) {
            .h-custom {
            height: 100%;
            }
        }
        body {
          background: rgb(44, 46, 49);
        }
        .contact {
          background: black;
          color: white;
          border: 2px solid rgb(44, 46, 49);
        }
        .page-name {
          font-family: Garamond, serif;
          color: white;
          font-size: xx-large;
          text-align: center;
          margin-top: 10px;
        }
        select {
          flex: 1;
        }
        .a-contact {
          margin: 0;
        }
        .time-passed {
        color: lightgray;
        font-size: smaller;
        position: absolute;
        right: 45px;
      }
      .accordion-item {
        margin-bottom: 2px;
      }
      .accordion-collapse {
        color: lightgray;
      }
    </style>
</head>
<body>
  {% if user.role == "teacher" or user.role == "supervisor" %}
    {% include 'teachers/navbar.html' %}
  {% else %}
    {% include 'students/navbar.html' %}
  {% endif %}

  <section>
    <div class="container pt-1">
      <h1 class="text-body-emphasis text-light text-center" id="page_name">Change password</h1>
      
      <div id="edit_vocabulary_main" class="accordion accordion-flush mt-1">
        <form id="form_main" method="post" onsubmit="return false">
          <ul class="list-group">
            
            <li class="list-group-item justify-content-between align-items-start contact" style="background: inherit;border:0">
              <div class="row g-2 mb-1">
                <div class="col-md">
                  <div class="form-floating bg-dark">
                    <input id="current_password" type="password" class="form-control text-light" name="current_password" placeholder="0"  style="background: black;border:0">
                    <label for="days-input">Current password</label>
                  </div>
                </div>
              </div>
              <div class="row g-2 mb-1">
                <div class="col-md">
                  <div class="form-floating bg-dark">
                    <input id="new_password" type="password" class="form-control text-light" name="new_password" placeholder="0"  style="background: black;border:0">
                    <label for="days-input">New password</label>
                  </div>
                </div>
              </div>
              <div class="row g-2 mb-1">
                <div class="col-md">
                  <div class="form-floating bg-dark">
                    <input id="new_password_repeat" type="password" class="form-control text-light" name="new_password_repeat" placeholder="0"  style="background: black;border:0">
                    <label for="days-input">Repeat new password</label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        <button type="submit" id="save_button" class="btn btn-light d-block m-auto">Save</button>

        </form>
      </div>
      <div id="main"class="accordion accordion-flush mt-1">
          <!-- Don't touch -->

          

      </div>

    </div>


    <!-- Spinner -->
    <div id="spinner" class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50" style="display: none!important;">
    <div class="spinner-grow text-light" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    </div>

    <!-- Button trigger modal -->
    <button id="modal-trigger" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none;">
      Launch demo modal
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog ">
          <div class="modal-content">
          <div class="modal-header" style="border: 0;">
              <h6 class="modal-title" id="modal-text" style="color: orange;">Please, enter your number correctly.</h6>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          </div>
      </div>
      </div>
  </section>

  <script src="{% static 'bootstrap/popper.min.js' %}" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="{% static 'bootstrap/bootstrap.min.js' %}" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <script>

    let form_main = document.getElementById('form_main')
    let current_password = document.getElementById('current_password')
    let new_password = document.getElementById('new_password')
    let new_password_repeat = document.getElementById('new_password_repeat')
    let save_button = document.getElementById('save_button')

    function spinner(display){
    let spinner_element = document.getElementById('spinner')
    switch (display){
    case true:
        spinner_element.setAttribute('style', 'display: block')
        break
    case false:
        spinner_element.setAttribute('style', 'display: none!important')
        break
    }
    }

    function notification(message, color){
    let modal_trigger = document.getElementById('modal-trigger')
    let modal_text = document.getElementById('modal-text')

    modal_text.style.color = color
    modal_text.innerText = message
    modal_trigger.click()
    }


    async function load_access_code(){
        spinner(true)

        let request = await fetch(`/api/dictionary/packages/${package_id}/`)
        let response = await request.json()
        exam = response

        page_name.innerText = clean_text(response.title)
        package_author.innerText = response.author ? clean_text(response.author) : "platform"
        package_date_created.innerText = formatDate(response.date_created)
        package_title.value = response.title
        document.getElementsByTagName("title")[0].innerText = clean_text(response.title)

        if (page_state > 0){
          spinner(false)
        }
        page_state ++
    }

    save_button.addEventListener('click', async function(){
      if (current_password.value.length < 1){
        notification('Current password must be at least 8 characters.', "orange")
      } else if (new_password.value.length < 8){
        notification('New password must be at least 8 characters.', "orange")
      } else if (new_password.value != new_password_repeat.value){
        notification('Repeated password and new password must match.', "orange")
      } else {
        spinner(true)
        save_button.disabled = true

        let form_data = new FormData()
        form_data.append('current_password', current_password.value)
        form_data.append('new_password', new_password.value)

        let request = await fetch(
          `/api/profile/password-change/`,
          {
            method: 'POST',
            body: form_data
          }
        )
        let response = await request.json()

        if (response.message == 'success'){
          notification("Your new password has been successfully set.", "green")
          setTimeout(function(){
            location.href = '/profile/'
          }, 3000)
        } else {

          for (let i = 0; i < response.errors.length; i++){
            switch (response.errors[i]){
              case 'new_password':
                notification("New password must be at least 8 characters.", "orange")
                break

              case 'current_password':
                notification("Current password is incorrect. Please try again.", "orange")
                break
            }
          }
        }
        

        save_button.disabled = false          
        spinner(false)

      }

    })

    async function force_password_change(){
      spinner(true)

      let request = await fetch('/api/profile/force-password-change/')
      let response = await request.json()

      if (response.message == 'success'){
        current_password.value = response.password
        current_password.disabled = true
      }

      spinner(false)
    }
    force_password_change()

  </script>
</body>
</html>